# 无损配置 
# Ref: 
# https://deic-web.uab.cat/~mhernandez/media/software/hevc_lossless.cfg
# http://blog.sina.com.cn/s/blog_8979cf7b0102vkzu.html

#======== File I/O =====================
# BitstreamFile                 : str.bin
# ReconFile                     : rec.yuv

#======== Profile ================
Profile                       : main

#======== Unit definition ================
# 最大 CU 大小设为 32, 同时把最大 TU 大小设为 32. 实现抛弃 TU 逻辑
# 暂时没找到保持 MaxCU 64 的情况下抛弃 TU 划分的方法
# MaxCUWidth                    : 64          # Maximum coding unit width in pixel
# MaxCUHeight                   : 64          # Maximum coding unit height in pixel
# MaxPartitionDepth             : 4           # Maximum coding unit depth
MaxCUWidth                    : 32          # Maximum coding unit width in pixel
MaxCUHeight                   : 32          # Maximum coding unit height in pixel
MaxPartitionDepth             : 3           # Maximum coding unit depth
# 最大 TU 为 2^QuadtreeTULog2MaxSize
QuadtreeTULog2MaxSize         : 5           # Log2 of maximum transform size for
                                            # quadtree-based TU coding (2...6)
# 最小 TU 为 2^QuadtreeTULog2MinSize, 必须比最小 CU 更小
QuadtreeTULog2MinSize         : 2           # Log2 of minimum transform size for
                                            # quadtree-based TU coding (2...6)
QuadtreeTUMaxDepthInter       : 3
# TU 划分的深度, 最小为 1
QuadtreeTUMaxDepthIntra       : 1

#======== Coding Structure =============
IntraPeriod                   : 1           # Period of I-Frame ( -1 = only first)
DecodingRefreshType           : 0           # Random Accesss 0:none, 1:CRA, 2:IDR, 3:Recovery Point SEI
GOPSize                       : 1           # GOP Size (number of B slice = GOPSize-1)
#        Type POC QPoffset QPfactor tcOffsetDiv2 betaOffsetDiv2  temporal_id #ref_pics_active #ref_pics reference pictures 

#=========== Motion Search =============
# 全帧内模式不涉及到运动预测, 这部分设置无效
FastSearch                    : 0           # 0:Full search  1:TZ search
SearchRange                   : 64          # (0: Search range is a Full frame)
HadamardME                    : 0           # Use of hadamard measure for fractional ME
FEN                           : 0           # Fast encoder decision
FDM                           : 0           # Fast Decision for Merge RD cost

#======== Quantization =============
# 设置 bypass 做无损后, 取任何 QP, 重建图像 PSNR 均为 Inf, 但奇怪的是 QP 取值会略微影响最后结果大小, 猜测是 bypass 情况下仍然记录了 QP 信息. 做测试时可能可以在这里挖一挖让数据好一点
QP                            : 26          # Quantization parameter(0-51)
MaxDeltaQP                    : 0           # CU-based multi-QP optimization
MaxCuDQPDepth                 : 0           # Max depth of a minimum CuDQP for sub-LCU-level delta QP
DeltaQpRD                     : 0           # Slice-based multi-QP optimization
# 下面 2 个选项在打开 LL 模式后, ON/OFF 都不影响结果, 干脆 OFF
# 会影响速度 必须关掉
RDOQ                          : 0           # RDOQ
RDOQTS                        : 0           # RDOQ for transform skip

#=========== Deblock Filter ============
DeblockingFilterControlPresent: 0           # Dbl control params present (0=not present, 1=present)
LoopFilterOffsetInPPS         : 0           # Dbl params: 0=varying params in SliceHeader, param = base_param + GOP_offset_param; 1=constant params in PPS, param = base_param)
# 无损下不需要去块滤波
LoopFilterDisable             : 1           # Disable deblocking filter (0=Filter, 1=No Filter)
LoopFilterBetaOffset_div2     : 0           # base_param: -6 ~ 6
LoopFilterTcOffset_div2       : 0           # base_param: -6 ~ 6
DeblockingFilterMetric        : 0           # blockiness metric (automatically configures deblocking parameters in bitstream)

#=========== Misc. ============
InternalBitDepth              : 8           # codec operating bit-depth

#=========== Coding Tools =================
# SAO 在无损时不能开, 因为 SAO 会产生少量需要编码传送的数据, 但在无损时预测值 + 解码残差是准确还原原始值的, 不需要 SAO 来优化
# SAO: 有损时, 去块滤波后, 分析 CTU 的特性, 指定一种方式, 让 deblocking 后的数据再做个微调, 使得更接近原始像素. 编码时只需要多传 “方式” 这一个信息
SAO                           : 0           # Sample adaptive offset  (0: OFF, 1: ON)
# 下面 3 个选项在帧内预测不起作用, 干脆 OFF
AMP                           : 0           # Asymmetric motion partitions (0: OFF, 1: ON)
TransformSkip                 : 0           # Transform skipping (0: OFF, 1: ON)
TransformSkipFast             : 0           # Fast Transform skipping (0: OFF, 1: ON)
SAOLcuBoundary                : 0           # SAOLcuBoundary using non-deblocked pixels (0: OFF, 1: ON)

#============ Slices ================
SliceMode                : 0                # 0: Disable all slice options.
                                            # 1: Enforce maximum number of LCU in an slice,
                                            # 2: Enforce maximum number of bytes in an 'slice'
                                            # 3: Enforce maximum number of tiles in a slice
SliceArgument            : 1500             # Argument for 'SliceMode'.
                                            # If SliceMode==1 it represents max. SliceGranularity-sized blocks per slice.
                                            # If SliceMode==2 it represents max. bytes per slice.
                                            # If SliceMode==3 it represents max. tiles per slice.

# 不开 SliceMode, 无影响
LFCrossSliceBoundaryFlag : 0                # In-loop filtering, including ALF and DB, is across or not across slice boundary.
                                            # 0:not across, 1: across

#============ PCM ================
PCMEnabledFlag                      : 0                # 0: No PCM mode
PCMLog2MaxSize                      : 5                # Log2 of maximum PCM block size.
PCMLog2MinSize                      : 3                # Log2 of minimum PCM block size.
PCMInputBitDepthFlag                : 1                # 0: PCM bit-depth is internal bit-depth. 1: PCM bit-depth is input bit-depth.
# 如果开了 PCM, 在无损时不需要滤波
PCMFilterDisableFlag                : 1                # 0: Enable loop filtering on I_PCM samples. 1: Disable loop filtering on I_PCM samples.

#============ Tiles ================
TileUniformSpacing                  : 0                # 0: the column boundaries are indicated by TileColumnWidth array, the row boundaries are indicated by TileRowHeight array
                                                       # 1: the column and row boundaries are distributed uniformly
NumTileColumnsMinus1                : 0                # Number of tile columns in a picture minus 1
TileColumnWidthArray                : 2 3              # Array containing tile column width values in units of CTU (from left to right in picture)   
NumTileRowsMinus1                   : 0                # Number of tile rows in a picture minus 1
TileRowHeightArray                  : 2                # Array containing tile row height values in units of CTU (from top to bottom in picture)

# 不考虑 Tiles(而且也不影响结果)
LFCrossTileBoundaryFlag             : 0                # In-loop filtering is across or not across tile boundary.
                                                       # 0:not across, 1: across 

#============ WaveFront ================
WaveFrontSynchro                    : 0                # 0:  No WaveFront synchronisation (WaveFrontSubstreams must be 1 in this case).
                                                       # >0: WaveFront synchronises with the LCU above and to the right by this many LCUs.

#=========== Quantization Matrix =================
ScalingList                   : 0                      # ScalingList 0 : off, 1 : default, 2 : file read
ScalingListFile               : scaling_list.txt       # Scaling List file name. If file is not exist, use Default Matrix.

#============ Lossless ================
TransquantBypassEnableFlag: 1  # Value of PPS flag.
CUTransquantBypassFlagForce: 1 # Constant lossless-value signaling per CU, if TransquantBypassEnableFlag is 1.
                                                       
### DO NOT ADD ANYTHING BELOW THIS LINE ###
### DO NOT DELETE THE EMPTY LINE BELOW ###
