#======== File I/O ===============
InputFile                     : ../../HEVC_test_sequence/A1/Campfire_3840x2160_30fps_bt709_420_videoRange_1f.yuv
InputBitDepth                 : 10          # Input bitdepth
InputChromaFormat             : 420         # Ratio of luminance to chrominance samples
FrameRate                     : 30          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 3840        # Input  frame width
SourceHeight                  : 2160        # Input  frame height
FramesToBeEncoded             : 300         # Number of frames to be coded

Level                         : 5.1

BitstreamFile                 : Campfire.bin
ReconFile                     : Campfire_rec.yuv