# 原项目中是名为 Tango2 的 3840*2160 的测试序列，但手上的资源名为 Tango，分辨率为 4096*2160
#======== File I/O ===============
InputFile : ../../HEVC_test_sequence/A1/Tango_4096x2160_60fps_10bit_420_jvet_1f.yuv
InputBitDepth : 10      # Input bitdepth
InputChromaFormat : 420 # Ratio of luminance to chrominance samples
FrameRate : 60          # Frame Rate per second
FrameSkip : 0           # Number of frames to be skipped in input
SourceWidth : 4096      # Input  frame width
SourceHeight : 2160     # Input  frame height
FramesToBeEncoded : 294   # Number of frames to be coded

Level : 5.1

BitstreamFile                 : Tango.bin
ReconFile                     : Tango_rec.yuv